body {
    background-color: grey;
}

h1 {
    color: black;
    margin-left: 20px;
}

@media desktop (min-width: 992px) {

}

@media tablet (min-width: 768px and max-width: 991px) {

}

@media mobile (max-width: 767px) {

}

