body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
}

p {
    background-color: grey;
    
/* desktop */
@media (min-width: 992px) {

}

/* tablet */
@media (min-width: 768px and max-width: 991px) {

}

/* mobile */
@media (max-width: 767px) {

}

